html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
  }
  a {
    background: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  abbr[title] {
    border-bottom: 1px dotted;
  }
  b,
  strong {
    font-weight: bold;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  small {
    font-size: 80%;
  }
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1.72222;
    color: #3D3D3D;
    background-color: #fff;
  }
  input,
  button,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  a {
    color: #0074bb;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #c9c9c9;
    text-decoration: underline;
  }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  img {
    vertical-align: middle;
  }
  hr {
    margin-top: 29px;
    margin-bottom: 29px;
    border: 0;
    border-top: 1px solid #8e7bb1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4
  .h5,
  .h6 {
    font-family: "Encode Sans Compressed", sans-serif;
    font-weight: 800;
    line-height: 1.3;
    color: inherit;
  }
  h1 small,
  h2 small,
  h3 small,
  h4 small,
  h5 small,
  h6 small,
  .h1 small,
  .h2 small,
  .h3 small,
  .h4 small,
  .h5 small,
  .h6 small,
  h1 .small,
  h2 .small,
  h3 .small,
  h4 .small,
  h5 .small,
  h6 .small,
  .h1 .small,
  .h2 .small,
  .h3 .small,
  .h4 .small,
  .h5 .small,
  .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #e9e6f0;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    margin-top: 29px;
    margin-bottom: 14.5px;
  }
  h1 small,
  .h1 small,
  h2 small,
  .h2 small,
  h3 small,
  .h3 small,
  h1 .small,
  .h1 .small,
  h2 .small,
  .h2 .small,
  h3 .small,
  .h3 .small {
    font-size: 65%;
  }
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin-top: 14.5px;
    margin-bottom: 14.5px;
  }
  h4 small,
  .h4 small,
  h5 small,
  .h5 small,
  h6 small,
  .h6 small,
  h4 .small,
  .h4 .small,
  h5 .small,
  .h5 .small,
  h6 .small,
  .h6 .small {
    font-size: 75%;
  }
  h1,
  .h1 {
    font-size: 37px;
  }
  h2,
  .h2 {
    font-size: 28px;
  }
  h3,
  .h3 {
    font-size: 23px;
  }
  h4,
  .h4 {
    font-size: 21px;
  }
  h5,
  .h5 {
    font-size: 18px;
  }
  h6,
  .h6 {
    font-size: 19px;
  }
  p {
    margin: 0 0 14.5px;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.72222;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .btn:hover,
  .btn:focus {
    color: white;
    text-decoration: none;
  }
  .btn:active,
  .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  .btn-lg {
    padding: 10px 16px;
    font-size: 22px;
    line-height: 1.33;
    border-radius: 6px;
  }
  .btn-sm {
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .btn-xs {
    padding: 1px 5px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-block + .btn-block {
    margin-top: 5px;
  }

  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }

  body {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1.72222;
    color: #3D3D3D;
    background-color: #fff;
  }
  a {
    color: #0074bb;
    text-decoration: none;
    -o-transition: 0.25s;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  a:hover,
  a:focus {
    color: #c9c9c9;
    text-decoration: none;
  }
  a:focus {
    outline: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Encode Sans Compressed", sans-serif;
    font-weight: 800;
    line-height: 1.3;
    color: inherit;
  }
  h1 small,
  h2 small,
  h3 small,
  h4 small,
  h5 small,
  h6 small,
  .h1 small,
  .h2 small,
  .h3 small,
  .h4 small,
  .h5 small,
  .h6 small {
    color: #e9e6f0;
  }
  h1,
  h2,
  h3 {
    margin-top: 29px;
    margin-bottom: 14.5px;
  }
  h4,
  h5,
  h6 {
    margin-top: 14.5px;
    margin-bottom: 14.5px;
  }
  h6 {
    font-weight: normal;
  }
  h1,
  .h1 {
    font-size: 37px;
  }
  h2,
  .h2 {
    font-size: 28px;
  }
  h3,
  .h3 {
    font-size: 23px;
  }
  h4,
  .h4 {
    font-size: 21px;
  }
  h5,
  .h5 {
    font-size: 18px;
  }
  h6,
  .h6 {
    font-size: 19px;
  }
  p {
    font-size: 17px;
    line-height: 1.72222;
    margin: 0 0 14.5px;
    font-weight: normal;
    color: #3D3D3D;
    -webkit-font-smoothing: antialiased;
  }
  .entry-content p,
  .entry-content p.has-larger-font-size,
  .entry-content p.has-large-font-size,
  .entry-content p.has-normal-font-size,
  .entry-content p.has-small-font-size {
    font-size: 17px;
  }
  

  .entry-content h1,
  .entry-content .h1 {
    font-size: 37px;
  }
  .entry-content h2,
  .entry-content .h2 {
    font-size: 28px;
  }
  .entry-content h3,
  .entry-content .h3 {
    font-size: 23px;
  }
  .entry-content h4,
  .entry-content .h4 {
    font-size: 21px;
  }
  .entry-content h5,
  .entry-content .h5 {
    font-size: 18px;
  }
  .entry-content h6,
  .entry-content .h6 {
    font-size: 19px;
  }
  
  /* 
   * Text Colors
   */
  .has-uw-purple-color {
    color: var(--uw-purple);
  }
  .has-uw-white-color {
    color: var(--uw-white);
  }
  .has-uw-gray-color {
    color: var(--uw-gray);
  }
  .has-uw-gray-dark-color {
    color: var(--uw-gray-dark);
  }
  .has-uw-gray-menu-color {
    color: var(--uw-gray-menu);
  }
  .has-uw-link-color {
    color: var(--uw-link);
  }
  .has-uw-gold-color {
    color: var(--uw-gold);
  }
  .has-uw-gold-light-color {
    color: var(--uw-gold-light);
  }
  .has-uw-gold-dark-color {
    color: var(--uw-gold-dark);
  }
  .has-uw-gold-bright-color {
    color: var(--uw-gold-bright);
  }
  .has-uw-black-color {
    color: var(--uw-black);
  }

  /* 
   * Background Colors
   */
  .has-uw-purple-background-color {
    background-color: var(--uw-purple);
  }
  .has-uw-white-background-color {
    background-color: var(--uw-white);
  }
  .has-uw-gray-background-color {
    background-color: var(--uw-gray);
  }
  .has-uw-gray-dark-background-color {
    background-color: var(--uw-gray-dark);
  }
  .has-uw-gray-menu-background-color {
    background-color: var(--uw-gray-menu);
  }
  .has-uw-link-background-color {
    background-color: var(--uw-link);
  }
  .has-uw-gold-background-color {
    background-color: var(--uw-gold);
  }
  .has-uw-gold-light-background-color {
    background-color: var(--uw-gold-light);
  }
  .has-uw-gold-dark-background-color {
    background-color: var(--uw-gold-dark);
  }
  .has-uw-gold-bright-background-color {
    background-color: var(--uw-gold-bright);
  }
  .has-uw-black-background-color {
    background-color: var(--uw-black);
  }

  /*
   * hr tag
   */
  .entry-content h2.wp-block-seperator {
    background: currentColor;
    background-color: currentColor !important;
  }
  .entry-content h2.wp-block-seperator:before,
  .entry-content h2.wp-block-seperator:after {
    content: none;
  }

  