 :root {
    --uw-purple: #4b2e83;
    --uw-white: white;
    --uw-gray: #c9c9c9;
    --uw-gray-dark: #5A5A5A;
    --uw-gray-menu: #707070;
    --uw-link: #0074bb;
    --uw-gold: #b7a57a;
    --uw-gold-light: #e8e3d3;
    --uw-gold-dark: #85754d;
    --uw-gold-bright: #ffd800;
    --dropdown-nav-height: 60px;
    --dropdown-mobile-nav-height: 0;
    --header-nav-height: 70px;
    --header-mobile-nav-height: 60px;
    --header-height: calc(var(--dropdown-nav-height) + var(--header-nav-height));
    --header-mobile-height: calc(var(--dropdown-mobile-nav-height) + var(--header-mobile-nav-height));
    --logo-width: 125px;
  }