.featured-publications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /* flex-flow: column wrap; */
    align-content: stretch;
}

.asp-publication-container {
    display: flex;
    width: 50%;
    padding: 2rem;
    max-height: 190px;
}

.asp-publication-container img {
    height: 100%;
    align-self: center;
}

.asp-publication-content {
    padding-left: 2rem;
    overflow: hidden;
}

.asp-publication-content .asp-header {
    margin-top: 0;
    overflow: hidden;
}

.asp-publication-content .asp-header a {
    max-width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--uw-purple);
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.asp-publication-content .asp-header a:hover {
    color: var(--uw-gold);
}